extends includes/layout.pug

block content
  -
    const prev = page.prev
    const next = page.next
    const dateConf = theme.post.date
    const updatedConf = theme.post.updated
    const sourceConf = theme.post.source
    const excerptConf = theme.post.excerpt
    const reward = theme.post.reward
    const appID = theme.valine.app_id
    const appKey = theme.valine.app_key
    const tocContent = toc(page.content, theme.toc)
  #post-bg
    #post-title
      if (dateConf || updatedConf) && page.post-info
        #post-info
          if dateConf
            span date:
              time(datetime=page.date.toJSON())#date
                = ' ' + date(page.date, date_format)
          if dateConf && updatedConf
            br
          if updatedConf
            span updated:
              time(datetime=page.updated.toJSON())#updated
                = ' ' + date(page.updated, date_format)
          if sourceConf
            br
            span#post-source Source File:
              br
              span= page.source
      h1= page.title
      hr
    #post-content
      if excerptConf
        != page.content
      else
        != page.more
      #paginator!= paginator()
    #post-footer
      if prev || next
        hr
      if prev !== undefined
        a(href=url_for(prev.path))
          |← Prev
          =' ' + prev.title
      if prev && next
        <span style="color: #fe2"> | </span>
      if next !== undefined
        a(href=url_for(next.path))
          =next.title + ' '
          |Next →
      if prev || next
        hr
    #bottom-btn
      if tocContent.length > 0
        a#to-index(href="#post-index" title="index") ≡
      a#to-top(href="#post-title" title="to top") ∧
    if reward === true && page.reward
      details#reward
        summary 打赏
        #alipay
          span 支付宝 | Alipay
          br
          img(src= config.root + 'img/Alipay.png')
        #wechat
          span 微信 | WeChat
          br
          img(src= config.root + 'img/WeChat.png')
    if page.comments
      #Valine
      script
        |new Valine({
        |  el: '#Valine'
        |  , appId: '#{appID}'
        |  , appKey: '#{appKey}'
        |  , placeholder: '此条评论委托企鹅物流发送'
        |})

block aside-block
  - const tocContent = toc(page.content, theme.toc)
  if (tocContent.length > 0) && page.post-index
    h1 INDEX
    #post-index!= tocContent
