extends includes/layout.pug

block content
  -
    const categoriesList = list_categories({
      order: 1
      , show_count: theme.archives.categories_count
    })
  -
    const tagsList = list_tags({
      order: -1
      , show_count: theme.archives.tags_count
    })
  -
    const archivesList = list_archives({
      type: 'yearly'
      , order: -1
      , show_count: false
    })

  #archive-flex
    #Archives
      h1 #{__('menu.tag.name')}: #{page.tag}
      #Archives-bg
        - page.posts.each((article) => {
        .article-item
          .control-long
            time(datetime=date_xml(article.date))= date(article.date)
          a(href=url_for(article.path))= article.title
        - })
        #paginator!= paginator()
    include includes/archive-aside.pug
