aside
  #aside-top
    #about
      a(href=config.root)#logo
        img(src= asideLogo, alt= "Logo")
      h1#Dr
        a(href= theme.aside.dr)= config.author
      #description
        p!= config.description
    #aside-block
      block aside-block
      if page.published === undefined
        section#total
           a#total-archives(href= config.root + "archives")
             span.total-title #{__('menu.archive.plural')} #{__('menu.total')}:
             span.total-number= site.posts.length
           #total-tags
             span.total-title #{__('menu.tag.plural')}:
             span.total-number= site.tags.length
           #total-categories
             span.total-title #{__('menu.category.plural')}:
             span.total-number= site.categories.length
  footer(style= footerStyle)
    if theme.aside.icp !== null
      nobr
        span.text-title ICP
        a(href='https://beian.miit.gov.cn/').text-content= theme.aside.icp
    if theme.aside.copyright !== null
      each content, title in theme.aside.copyright
        nobr
          span.text-title= title
          span.text-content= content
        br
    nobr #{__('footer.publish')} 
      a(href= 'http://hexo.io') Hexo
    wbr
    nobr  #{__('footer.theme')} 
      a(href= 'https://github.com/Yue-plus/hexo-theme-arknights') Arknights
    wbr
    nobr #{__('footer.by')} 
      a(href= 'https://github.com/Yue-plus') Yue_plus
