mixin expand_list(list)
  each url, label in list
    - var match = null
    if typeof(url) === "string" && url.match(config.archive_dir)
      - match = config.category_dir + ',' + config.tag_dir
    li.navItem(matchdata=match)
      if typeof(url) === "object"
        span.navItemTitle= label
        ol.navItemList
          +expand_list(url)
      else
        a(href= config.root + url)
          span.navItemTitle= label

header.closed
  nav
    .navBtn(class="hide")
      i.navBtnIcon
        span.navBtnIconBar
        span.navBtnIconBar
        span.navBtnIconBar
    ol.navContent
      if searchConfig !== null
        li.navItem#search-header
          span.navItemTitle
            input(autocomplete="off" autocorrect="off" autocapitalize="none"
              placeholder=__('search.blurHolder') spellcheck="false" maxlength="50"
              type="text" id="search-input")
      each url, label in theme.menu
        - var match = null
        if typeof(url) === "string" && url.match(config.archive_dir)
          - match = config.category_dir + ',' + config.tag_dir
        li.navItem(matchdata=match)
          if typeof(url) === "object"
            div.navBlock
              span.navItemTitle= label
              ol.navItemList
                +expand_list(url)
          else
            a.navBlock(href= config.root + url)
              span.navItemTitle= label
  if searchConfig !== null
    .search-popup
      #search-result
