-
  let pageTitle = page.title || config.subtitle || ''
  if (is_post()) pageTitle = page.title + ' | '
  if (is_archive()) pageTitle = 'Archives | '
  if (is_tag()) pageTitle = 'Tag: ' + page.tag + ' | '
  if (is_category()) pageTitle = 'Category: ' + page.category + ' | '
  if (is_month()) pageTitle += ': ' + page.month + '/' + page.year + ' | '
  if (is_year()) pageTitle += ': ' + page.year + ' | '
  pageTitle += config.title

  const asideLogo = theme.aside.logo
  const asideBlock = theme.aside.block_in_top ? 'order: -1' : ''

  var mainStyle = ""
  var footerStyles = ""
  if (theme.aside.in_left) {
    mainStyle = "flex-direction: row-reverse"
    footerStyle = "text-align: right"
  }

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= pageTitle
    script(src='https://cdn.bootcss.com/valine/1.4.4/Valine.min.js')
    if theme.mermaid === true
      script(src="https://cdn.bootcdn.net/ajax/libs/mermaid/8.8.2/mermaid.min.js")
      script
        | mermaid.initialize({
        |   startOnLoad: true
        |   , theme: 'dark'
        | });
    link(rel="stylesheet", href=config.root + "css/arknights.css")
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
    style
      |@font-face {
      |  font-family: BenderLight;
      |  src: local('Bender'), url("#{config.root}font/BenderLight.ttf");
      |}
      |@font-face {
      |  font-family: 'JetBrains Mono';
      |  src: local('JetBrains Mono'), url('#{config.root}font/JetBrainsMono-Regular.woff2') format('woff2');
      |}
  body
    header
      nav
        each url, label in theme.menu
          a(href= config.root + url)= label
    main(style=mainStyle)
      article
        if body
          div!= body
        else
          block content
      aside
        #about
          a(href=config.root)#logo
            img(src=asideLogo, alt="Logo")
          h1#Dr
            a(href= theme.aside.dr)=' Dr.' + config.author
          section#total
            a#total-archives(href= config.root + "archives")
              span.total-title Archives Total:
              span.total-number= site.posts.length
            #total-tags
              span.total-title Tags:
              span.total-number= site.tags.length
            #total-categories
              span.total-title Categories:
              span.total-number= site.categories.length
        #aside-block(style= asideBlock)
          block aside-block
        footer(style=footerStyle)
          each content, title in theme.aside.copyright
            nobr
              span.text-title= title
              span.text-content= content
            wbr
          wbr
          nobr published with&nbsp;
            a(href='http://hexo.io') Hexo&nbsp;
          wbr
          nobr Theme&nbsp;
            a(href='https://github.com/Yue-plus/hexo-theme-arknights') Arknight&nbsp;
          wbr
          nobr by&nbsp;
            a(href='https://github.com/Yue-plus') Yue_plus
    if theme.canvas_dust
      canvas#canvas-dust
    script(src=config.root + "js/arknights.js")
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
