
- var pageTitle = page.title || config.subtitle || ''
- if (is_archive()) pageTitle = 'Archives'
- if (is_tag()) pageTitle = 'Tag: ' + page.tag
- if (is_category()) pageTitle = 'Category: ' + page.category
- if (is_month()) pageTitle += ': ' + page.month + '/' + page.year
- if (is_year()) pageTitle += ': ' + page.year
- pageTitle += ' [ ' + config.title + ' ]'

doctype html
html(lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= pageTitle
    if theme.stylesheets !== undefined && theme.stylesheets.length > 0
      //- stylesheets list from _config.yml
      each url in theme.stylesheets
        link(rel='stylesheet', href=url)
  body
    header
      nav
        each url, label in theme.menu
          a(href=url)= label
    main
      article
        if body
          div!= body
        else
          block content
      aside
        a(href=config.root)#home-page
          img(src="https://ak.hypergryph.com/assets/index/images/ak/pc/faction/1.png", alt="Logo")
        footer
          span='©2020 ' + config.author + ' '
          br
          span Power by 
            a(href='http://hexo.io') Hexo
    if theme.scripts !== undefined && theme.scripts.length > 0
      //- scripts list from config.yml
      each url in theme.scripts
        script(src=url)
